app/*
!app/.gitkeep

logs/*
!logs/.gitkeep

logs/apache/*
!logs/apache/.gitkeep

logs/mariadb/*
!logs/mariadb/.gitkeep

logs/php/*
!logs/php/.gitkeep

conf/apache/vhosts/*
!conf/apache/vhosts/myapp.conf

data/composer/*
data/elasticsearch/*
data/redis/*
data/mariadb/*